:root {
  --main-text-color: #303030;
  --forth-text-color: #303030;
  --secondary-text-color: #9da4bd;
  --main-white-color: #ffffff;
  --accent-color: #ff6c00;
  --third-text-color: #555555;
  --typical-margin: 20px;
  --footer-text: #9da4bd;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: "Open Sans", "Raleway", sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ----------------ТЕКСТ В ПІДПУНКТАХ-------------- */

.top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.buttom-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* ---------------КНОПКИ НА ВСІХ СТОРІНКАХ--------- */

.button {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
}

/* --------------------Header------------------ */

.header {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.header-logo {
  margin-right: 70px;
}

.header-connect {
  margin-left: auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* .header .container {
  display: flex;
  align-items: center;
  margin-left: 220px;
} */

.shop-list {
  display: flex;
}

.shop-item:not(:last-child) {
  margin-right: 40px;
}

.nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  color: var(--main-white-color);
  transition: color 250ms var(--timing-function);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: var(--accent-color);
  left: 0;
  bottom: -8px;
  border-radius: 4px;
}

.phone-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33px;
  letter-spacing: 0.1em;
  color: var(--main-white-color);
}

.phone-link:hover,
.phone-link:focus {
  color: var(--accent-color);
}

.main-button {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  color: var(--main-white-color);
  background-color: transparent;
  margin-left: 40px;
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.main-button:hover,
.main-button:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

/* ----------------------------Hero--------------------- */

.hero .container {
  display: flex;
}

.hero-soc {
  width: 93px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 40px;
}

.hero-list {
  display: flex;
  transform-origin: top left;
  transform: rotate(-90deg) translate(-19px);
  display: flex;
  align-items: center;
}

.hero-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;

  margin-right: 40px;
}

.hero-item + .hero-item {
  margin-left: 40px;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-text-color);
  transition: color 250ms var(--timing-function);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-content {
  background-color: #191c2633;
  padding-top: 272px;
  padding-bottom: 206px;
  padding-left: 96px;
  padding-right: 0;
  flex-grow: 1;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 680px;
}

.hero-top-text {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.hero-top-text::before {
  content: "";
  width: 63px;
  height: 1px;
  background-color: currentColor;
  display: block;
  margin-right: 21px;
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;

  font-size: 48px;
  line-height: calc(56 / 48);
  letter-spacing: 0.05em;
  color: #ffffff;
}

.hero-title::before {
  content: "";
}

.hero-buttom-text {
  color: var(--secondary-text-color);
  max-width: 400px;
}

/* --------------ABOUT-US---------------- */

.about-us {
  padding-top: 139px;
  padding-bottom: 121px;
}

.about-us .container {
  display: flex;
}

.about-us-list {
  display: flex;
  margin-right: 64px;
}

.about-us-item + .about-us-item {
  margin-left: 30px;
}

.about-us-top-text {
  color: var(--forth-text-color);
  margin-bottom: var(--typical-margin);
}

.about-us-title {
  color: var(--main-text-color);
  margin-bottom: var(--typical-margin);
}

.about-us-buttom-text {
  color: var(--third-text-color);
  margin-bottom: var(--typical-margin);
}

.about-us-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
  margin-bottom: 40px;
}

.about-us-button {
  color: var(--forth-text-color);
  margin-bottom: 125px;
  background-color: transparent;
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.about-us-button:hover,
.about-us-button:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

/* ------------------Услуги и цены--------------- */

.prices {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #111319;
  background-image: url(../images/service-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1280px;
  margin: 0 auto;
}

.prices-wrap {
  display: flex;
  margin-bottom: 50px;
}

.prices-top-text {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-margin);
}

.prices-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-text:last-child {
  order: 1;
}

.prices-title {
  color: var(--main-white-color);
  margin-bottom: 44px;
}

.prices-list {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  flex-grow: 1;
}

.prices-light {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-dark {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--typical-margin);
  align-items: baseline;
}

.prices-item::after {
  content: "";
  width: 100px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
  margin-left: 6px;
  margin-right: 6px;
}

.prices-item:last-child {
  margin-bottom: 0;
}

.prices-cost {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.prices-button {
  color: var(--main-white-color);
  margin: 0 auto;
  display: block;
  background-color: transparent;
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.prices-button:hover,
.prices-button:focus {
  background-color: var(--accent-color);
  color: var(--main-white-color);
}

/* -------------Почему приходят именно к нам?------------ */

.reasons {
  padding-top: 143px;
  padding-bottom: 137px;
}

.reasons-number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--main-text-color);
  margin-bottom: 6px;
  display: block;
}

.reasons-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--forth-text-color);
}

.reasons-item {
  width: 170px;
  height: 133px;
  border: 1px solid #000000;
  
}

.reasons-dark {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.reasons-top-text {
  color: var(--forth-text-color);
  margin-bottom: var(--typical-margin);
}

.reasons-title {
  color: var(--main-text-color);
  margin-bottom: var(--typical-margin);
}

.reasons-buttom-text {
  color: var(--third-text-color);
}

/* ---------------Майстри---------------- */

.masters {
  padding-top: 130px;
  padding-bottom: 130px;
}

.masters-img {
  margin-bottom: 30px;
}

.masters-top-text {
  color: var(--forth-text-color);
  margin-bottom: var(--typical-margin);
}

.masters-title {
  color: var(--main-text-color);
  margin-bottom: 44px;
}

.masters-list {
  display: flex;
  margin-left: -30px;
  flex-wrap: wrap;
}

.masters-item {
  /* flex-basis: calc((100% - 90px) / 3); */
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.masters-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--forth-text-color);
  margin-bottom: 8px;
}

.masters-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* ---------------ГАЛЕРЕЯ------------- */

.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}

.gallery-top-text {
  color: var(--forth-text-color);
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.gallery-item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

/* ------------FOOTER----------- */

.footer-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--main-white-color);
}

.footer-item {
  margin-bottom: 20px;
  margin-left: 140px;
}

.footer-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--footer-text);
  text-decoration: none;
}

.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--footer-text);
  text-decoration: none;
}

.footer-email {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: var(--footer-text);
}

.footer-contacts {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--main-white-color);
  margin-left: 100px;
  margin-right: 105px;
  margin-bottom: 40px;
}

.contact-wrap {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #191c26;
  background-image: url(../images/contact-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(50% - 15px);
}

.contact-wrap .container {
  display: flex;
}

.contacts {
  padding-top: 130px;
  padding-bottom: 130px;
  width: calc(50% - 15px);
}

.online {
  padding-top: 130px;
  padding-bottom: 130px;
  flex-grow: 1;
}
